.footer-home {
    background-color: #fff;
    border-top: #EAEAEA solid 3px;
}

.footer-text {
    text-align: start;
}

.footer-logo {
    text-align: end;
}

.footer-logo img {
    padding-left: 0.9rem;
}