.title-form {
    text-align: start;
    margin-bottom: 1rem;
    margin-left: 0.6rem;
    font-size: 1.1rem;
    font-weight: bold;
}

hr {
    opacity: 0.4;
}

.text-form {
    text-align: start;
    margin-left: 0.6rem;
    margin-top: 0.8rem;
    color: #999999
}

.ant-form-item-control-input-content button {
   margin: 2px
}