.logo-img {
    margin: 0.5rem;
    margin-top: 0.9rem;
}

.logo-img-small {
    margin: 0.3rem;
    width: 4rem;
}

.ant-layout.ant-layout-has-sider .ant-layout-sider-trigger{
    background: #222222;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #222222;
}

.ant-layout-sider-zero-width-trigger {
    background-color: #3A3A3A;
}

.title-sidebar {
    background-color: #222222;
    border-radius: 3px;
    width: 85%;
    margin: auto;
    margin-top: 0.6rem;
}

.title-sidebar h4 {
    color: #fff;
    text-shadow: #222222 3px;
}